CUSTOMER CHURN PREDICTION USING ANN

Multi Layer Perceptron

#load the data

In [219]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [220]:

dataset=pd.read_csv("d.csv")
dataset.head(3)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Estimated,Exited
0,619,23,2,8233.98,2,1,1,101349,1
1,620,35,3,7320.45,3,0,1,102453,0
2,621,29,4,8900.00,4,1,1,110237,0

check if their is null value or not

In [221]:
dataset.isnull().sum()

CreditScore       0
Age               0
Tenure            0
Balance           0
NumOfProducts     0
HasCrCard         0
IsActiveMember    0
Estimated         0
Exited            0
dtype: int64

# their is no null value so now we separte the input and output value

In [222]:
input_data=dataset.iloc[:,:-1]
output_data=dataset.iloc[:,-1]

# Scaling your data

In [223]:
ss= StandardScaler()
ss.fit_transform(input_data)

array([[-1.67429242, -1.80955038, -0.84507203, ...,  0.76367615,
         0.51279458, -1.40717837],
       [-1.64790586,  0.32117253, -0.22839785, ..., -1.30945558,
         0.51279458, -1.24827082],
       [-1.62151929, -0.74418892,  0.38827634, ...,  0.76367615,
         0.51279458, -0.12785743],
       ...,
       [ 0.43663298,  0.14361229,  0.38827634, ...,  0.76367615,
         0.51279458,  0.65530922],
       [ 0.46301955,  0.67629301,  1.00495053, ...,  0.76367615,
         0.51279458,  0.49539411],
       [ 0.48940612, -0.74418892,  1.62162471, ..., -1.30945558,
         0.51279458, -0.01990393]])

In [224]:
ss= StandardScaler()
input_data= pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)
print(input_data)

     CreditScore       Age    Tenure   Balance  NumOfProducts  HasCrCard  \
0      -1.674292 -1.809550 -0.845072  1.132154      -1.004302   0.763676
1      -1.647906  0.321173 -0.228398 -0.262406      -0.312849  -1.309456
2      -1.621519 -0.744189  0.388276  2.148874       0.378603   0.763676
3      -1.595133  2.096775  1.004951 -1.449049       1.761508  -1.309456
4      -1.568746  0.143612 -1.461746 -0.567337      -1.695755   0.763676
..           ...       ...       ...       ...            ...        ...
994     0.383860 -0.389068 -0.845072  0.470420      -1.004302  -1.309456
995     0.410246  2.096775 -0.228398 -0.751288      -0.312849   0.763676
996     0.436633  0.143612  0.388276 -0.446281       0.378603   0.763676
997     0.463020  0.676293  1.004951 -0.904097       1.070056   0.763676
998     0.489406 -0.744189  1.621625 -0.140510       1.761508  -1.309456

     IsActiveMember  Estimated
0          0.512795  -1.407178
1          0.512795  -1.248271
2          0.512795  -0.127857
3         -1.950099  -1.955438
4          0.512795  -1.718660
..              ...        ...
994        0.512795  -0.659564
995       -1.950099   1.455029
996        0.512795   0.655309
997        0.512795   0.495394
998        0.512795  -0.019904

[999 rows x 8 columns]

In [225]:
# check how many input nodes are there
input_data.shape

(999, 8)

In [226]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.2,random_state=42)

In [227]:
x_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Estimated
453,-0.091098,1.564094,1.004951,-1.514721,1.070056,0.763676,-1.950099,-0.465680
793,-1.489586,-0.389068,-0.228398,0.775274,0.378603,-1.309456,0.512795,0.176140
209,0.410246,2.096775,-0.228398,-0.751288,-0.312849,0.763676,-1.950099,1.455029
309,-0.434124,-0.744189,1.004951,0.011840,-0.312849,0.763676,0.512795,1.455029
740,0.594952,-1.276870,0.388276,0.775274,0.378603,-1.309456,0.512795,1.327068
...,...,...,...,...,...,...,...,...
78,0.410246,2.096775,-0.228398,-0.751288,-0.312849,0.763676,-1.950099,1.455029
29,-0.909082,0.498733,-0.228398,-1.667225,-0.312849,0.763676,0.512795,-0.019904
277,-1.278494,-0.566629,-0.845072,0.470267,-0.312849,-1.309456,0.512795,-0.912032
261,1.782348,0.143612,-1.461746,-0.446128,-1.695755,0.763676,0.512795,-0.465680
423,-0.882695,1.741654,1.004951,-0.751593,1.070056,-1.309456,-1.950099,0.655309

In [228]:
x_train.shape

(799, 8)

# required libaries to make ann

In [229]:
import tensorflow

In [230]:
from keras.layers import Dense
from keras.models import Sequential

In [231]:
ann=Sequential()
ann.add(Dense(6,input_dim=8,activation="relu"))
ann.add(Dense(4,activation="relu"))
ann.add(Dense(2,activation="relu"))
ann.add(Dense(1,activation="sigmoid"))

c:\Users\naini\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [232]:
ann.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuray'])

In [233]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np

# Create dummy data
x_train = np.random.random((1000, 20))
y_train = np.random.randint(10, size=(1000,))

# Define and compile a basic model
ann = Sequential([
    Dense(64, activation='relu', input_shape=(20,)),
    Dense(10, activation='softmax')
])

ann.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
ann.fit(x_train, y_train, batch_size=100, epochs=10)

Epoch 1/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1038 - loss: 2.4032
Epoch 2/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1044 - loss: 2.3361
Epoch 3/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1124 - loss: 2.3160
Epoch 4/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1228 - loss: 2.2947
Epoch 5/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 903us/step - accuracy: 0.1122 - loss: 2.2914
Epoch 6/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 921us/step - accuracy: 0.1486 - loss: 2.2886
Epoch 7/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1375 - loss: 2.2865
Epoch 8/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1489 - loss: 2.2826
Epoch 9/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.1514 - loss: 2.2808
Epoch 10/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 916us/step - accuracy: 0.1659 - loss: 2.2767

In [234]:
y_test = np.random.randint(10, size=(200,))  # True labels
x_test = np.random.random((200, 20))  # Test features

In [235]:
prd1 = ann.predict(x_train)
prd_data1=[]
for i in prd1 :
    if i[0] > 0.5:
        prd_data1.append(1)
    else:
        prd_data1.append(0)

32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [236]:
prd = ann.predict(x_test)
prd_data=[]
for i in prd :
    if i[0] > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step

In [237]:
prd_data

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [238]:
print(len(y_test))
print(len(prd_data))

200
200

In [239]:
print("Length of x_test:", len(x_test))
print("Length of y_test:", len(y_test))

Length of x_test: 200
Length of y_test: 200

In [240]:
# Assuming ann is your trained model
prd_data = ann.predict(x_test)

# If the output is probabilities, convert it to class labels
prd_data = np.argmax(prd_data, axis=1)

print("Length of prd_data:", len(prd_data))

7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
Length of prd_data: 200

In [241]:
from sklearn.metrics import accuracy_score

In [242]:
accuracy_score(y_test,prd_data)*100

8.0

In [243]:
accuracy_score(y_train,prd_data1)*100

10.7